.App {
	text-align: center;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	background-color: #ccc;
	width: 70%;
	margin: 15vh auto;
	height: 350px;
	justify-content: space-between;
}

.card {
	width: 30%;
	height: 100%;
	background-color: #fff;
	text-align: start;
}

.card .img-container {
	height: 35%;
	text-align: center;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.content {
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: space-between; */
	padding: 0 15px;
}

.excerpt {
	height: 110px;
	width: 100%;
	overflow: hidden;
}

.category {
	border-left: 3px solid cyan;
}

.category p {
	margin: 0 0 0 5px;
}
